.a{
    height:380px;
    width: 600px;
    padding: 20px;
    margin: 20px;
    border:1px solid black; 
    background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-size: contain;
    transform: scale(0.9);
}

 .btn1{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    text-align:center;
    color: aliceblue;

 }
 .btn{
    height:6px;
      width:5px;
      padding:20px;
      margin:6px;
      border: 1px solid rgb(148, 97, 97);
     
box-shadow: 1px 2px 2px 1px;
 }
 .BTN{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
   text-align: center;
 }
 .BTN1{
    height:6px;
      width:10px;
      padding:20px;
      margin:6px;
      border: 1px solid rgb(148, 97, 97);
     box-shadow: 1px 2px 2px 1px;
     color: aliceblue;
 }
 .BTN1:hover{
   transform: scale(1.1);
   cursor: pointer;
  color: black;
  background-color:grey;
transition: 3s;
border-radius: 15px;
 }
 .BTN2{
    height:6px;
      width:10px;
      padding:20px;
      margin:6px;
      border: 1px solid rgb(148, 97, 97);
     box-shadow: 1px 2px 2px 1px;
     color: aliceblue;
 }
 .BTN2:hover{
   transform: scale(1.1);
   cursor: pointer;
  color: black;
  background-color:grey;
transition: 3s;
border-radius: 15px;
 }
 .BTN3{
    height:6px;
    width:10px;
    padding:20px;
    margin:6px;
    border: 1px solid rgb(148, 97, 97);
   box-shadow: 1px 2px 2px 1px;
   color: aliceblue;
 }
 .BTN3:hover{
   transform: scale(1.1);
   cursor: pointer;
  color: black;
  background-color:grey;
transition: 3s;
border-radius: 15px;
 }
 .BTN4{
    height:6px;
    width:100px;
    padding:20px;
    margin:6px;
    border: 1px solid rgb(148, 97, 97);
   box-shadow: 1px 2px 2px 1px;
   color: aliceblue;
   border-radius: 15px;
 }
 .BTN4:hover{
   transform: scale(1.1);
   cursor: pointer;
  color: black;
  background-color:grey;
transition: 3s;
border-radius: 15px;
 }
.BTN5{
    height:6px;
    width:25px;
    padding:20px;
    margin:6px;
    border: 1px solid rgb(148, 97, 97);
   box-shadow: 1px 2px 2px 1px;
   color: aliceblue;

}
.BTN5:hover{
   transform: scale(1.1);
   cursor: pointer;
  color: black;
  background-color:grey;
transition: 3s;
border-radius: 15px;
 }
.btn:hover{

   transform: scale(1.1);
   cursor: pointer;
  color: black;
  background-color:grey;
transition: 3s;
border-radius: 15px;
}
.bt{
   height:6px;
     width:5px;
     padding:20px;
     margin:6px;
     border: 1px solid rgb(148, 97, 97);

box-shadow: 1px 2px 2px 1px;
}